/* header {
    color: #ababab;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 100px;
  }

.topnav {
  
    padding: 10px 2%;
    margin: auto;
  }
  
  navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: fixed;
  }
  .active {
    font-size: 50px;
    color: #07e6d3;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
  }
  .active span {
    color: #ababab;
  }
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  #resume-button-1 {
    background-color: #4db5ff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: 0;
  }
  #resume-button-1 i,
  #resume-button-1 {
    color: #fff;
  }
  nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #15ff00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  nav ul li a:hover::after {
    width: 100%;
  }

  #btn{
    width: max-content;
    display: inline-block;
    color: #4db5ff;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid  #4db5ff;
    transition: all 400ms ease;
}

#btn:hover{
    background:  #fff;
    color: #1f1f38;
    border-color: transparent;
} */



.navbar {
  background: rgba(0,0,0,0.3);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: fixed;
  backdrop-filter: blur(15px);
  font-size: 1.4rem;
}

#resume-link-1{
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

#resume-link-1:hover{
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

@media screen and(max-width: 1024px) {
  .navbar{
    flex-direction: column;
  }
}

@media screen and(max-width: 600px) {
  .navbar{
    flex-direction: column;
  }
}



