/* header {
    color: #ababab;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 100px;
  }

.topnav {
  
    padding: 10px 2%;
    margin: auto;
  }
  
  navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: fixed;
  }
  .active {
    font-size: 50px;
    color: #07e6d3;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
  }
  .active span {
    color: #ababab;
  }
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  #resume-button-1 {
    background-color: #4db5ff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: 0;
  }
  #resume-button-1 i,
  #resume-button-1 {
    color: #fff;
  }
  nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #15ff00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  nav ul li a:hover::after {
    width: 100%;
  }

  #btn{
    width: max-content;
    display: inline-block;
    color: #4db5ff;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid  #4db5ff;
    transition: all 400ms ease;
}

#btn:hover{
    background:  #fff;
    color: #1f1f38;
    border-color: transparent;
} */



/* .navbar {
  background: rgba(0,0,0,0.3);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: fixed;
  backdrop-filter: blur(15px);
  font-size: 1.4rem;
}

#resume-link-1{
  width: max-content;
  display: inline-block;
  color:  #fff;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid#4db5ff;
  transition: var(--transition);
  background:#4db5ff;
}

#resume-button-1{
  border-radius: 0.4rem;
}

#resume-link-1:hover{
  background: #2c2c6c;
  color:  #fff;
  border-color: transparent;
}

@media screen and(max-width: 1024px) {
  .navbar{
    flex-direction: column;
  }
}

@media screen and(max-width: 600px) {
  .navbar{
    flex-direction: column;
  }
} */

.navbar {
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: fixed;
    z-index: 100;
    font-size: 18px;
    height: 50px;
    color: white;
    backdrop-filter: blur(30px);
  }
  
  .wrapper {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
  .wrapperLeft {  
    border-radius: 8px;
    margin-left: 40px;
    cursor: pointer;
  }

  #resume-link-1{
    width: max-content;
    display: inline-block;
    color:  #fff;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid#4db5ff;
    transition: var(--transition);
    background:#4db5ff;
  }
  
  #resume-button-1{
    border-radius: 0.4rem;
  }
  
  #resume-link-1:hover{
    background: #2c2c6c;
    color:  #fff;
    border-color: transparent;
  }
  .wrapperLeft img:hover {
    border-bottom: 1px solid red;
    /* background: linear-gradient(to right, #000000, #434343); */
    -moz-transition: all 0.0s ease;
    -o-transition: all 0.0s ease;
    -webkit-transition: all 0.0s ease;
    transition: all 0.0s ease;
  }
  
  .wrapperRight {
    /* border: 1px solid red; */
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
  }
  .wrapperRight > div {
    /* border: 1px solid red; */
    border-radius: 5px;
    transition: var(--transition);
    padding: 6px 10px;
  }
  /* .wrapperRight > :nth-child(7) {
   
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    padding: 6px 10px;
    background: linear-gradient(45deg, #434343, #000000);
  } */
  
  .wrapperRight > div:hover {
    border-bottom: 1px solid red;
    background: linear-gradient(to right, #000000, #434343);
  }
  .navbar-resume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap:10px;
    cursor: pointer;
  }
  
  .navbar-resume:hover {
    transition: var(--transition);
  }
  
  .wrapperRight a:hover {
    transition: var(--transition);
    cursor: pointer;
  }
  
  .responce {
    display: none;
  }
  
  /*               medium size               */
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .responce {
      margin-right: 40px;
      display: none;
      font-size: 30px;
      
    }
  
    .drawerbody {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;;
      background-color: #2c2c6c;
    }
  
    .drawerbody a:hover {
      cursor: pointer;
      color: #6a6a6a;
    }
  
    .navbar-resume {
      /* background-color: #1a1a1a; */
      color: white;
    }
  
    .navbar-resume:hover {
      color: white;
      padding: 8px;
      background: linear-gradient(to right, #000000, #434343);
    }
  }
  @media all and (min-width: 280px) and (max-width: 767px) {
    .wrapperRight {
      display: none;
    }
  
    .responce {
      margin-right: 40px;
      display: block;
      font-size: 30px;
    }
  
    .drawerbody {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      background-color: #2c2c6c;
    }
  
    .drawerbody a:hover {
      cursor: pointer;
      color: #6a6a6a;
    }
  
    .navbar-resume {
      background-color: #1a1a1a;
      color: white;
    }
    .navbar-resume:hover {
      color: white;
      padding: 8px;
      background: linear-gradient(to right, #000000, #434343);
    }
  }

